# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FactoryPattern.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Vlad\RiderProjects\FactoryPattern\.idea\.idea.FactoryPattern\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
